page-home {
  .home-content {
    background: green;
    border: 1px solid red;
  }

  .add-button {
    color: yellowgreen;
  }

  .weather {
    background: transparent;
    text-align: center;
  }
}
